/*media-queries-for responsiveness of home page*/
/*breaking points are 1100px,900px,800pxx,700px,600px,500px,400px*/

#more{/*this is the styles for the "more" sign that you can see on right side of page at fixed position.right now its hidden and will appear when screen width<=1100px.on clicking on it,the playlist queue will appear*/
    height:5vh;
    width:10vw;
    position: fixed;
    right:0;
    top:20%;
    background-image: linear-gradient(to bottom right,purple,blueviolet,violet);
    z-index: 4;
    text-shadow: 1px 1px 3px white;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    visibility: hidden;
}
#close{/*this is the "close" sign you can see at top of playlist queue to close it*/
    text-align: center;
    display: none;
}
@media screen and (max-width:1100px){
    #main-content{
        width: 100vw;
    }
    #playlist{
        display: none!important;
        position: fixed!important;
    }
    #playlist:target{
        display:inline-block!important;
        top:10%!important;
        right:0!important;
        width:40vw;
        height:75vh;
        z-index: 5!important;
        background-color: blueviolet!important;
        border: 2px solid white!important;
        box-shadow: 1px 1px 5px white!important;
    }
    #queue-heading{
        background-image: inherit;
        background-color: blueviolet;
    }
    #playlist:target img{
        width:100%;
    }
    .main-header-images img{
        width:32vw;
    }
    #more{
        visibility: visible;
    }
    #close{
       display: block;
       }
    #search{
       width:22%;
    }
    #header-icon{
      font-size: 1.1rem;
    }
    #bell{
      font-size: 2rem;
    }
    .latest-release-dropdown{
        font-size: 10px;
    }
    footer img{
      width:25%;
      height:100%;
    }
}
@media screen and (max-width:900px){/*when screen width is<=900px*/
    :root{
        font-size: 15px;
    }
    #favourite{
         display: none!important;/*the "favourite" sign on the topmost header part will disappear*/
    }
    #search{
        left:-10%;
    }
    footer>span:nth-child(1){
        width:25%;
    }
    footer i{
        font-size: 1rem;
    }
    .latest-release-dropdown{
       display: none;
    }
}
@media screen and (max-width:800px){/*when screen width is<=800px*/
    #playlist:target{
        width:50vw;
    }
    .latest-release-song{
        width:60%;
    }
    #music-genre{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        box-sizing: border-box;
    }
    .latest-release-song{
        width:70%;
    }
    #music-genre-content{
        width:95%;
        margin-top: 2%;
    }
    #stations{
        width:32%;
        margin-top: 4%;
        margin-bottom: 4%;
    }
    #box1{
        height:80%;
        width:85%;
    }
    #more{
        width:12vw;
    }
    footer img{
        width:33%;
    }
    footer i{
        font-size: 1rem;
    }
}
@media screen and (max-width:700px){/*when screen width is<=700px*/
    :root{
        font-size: 13px;
    }
    footer i{
        font-size:1.2rem;
    }
    footer>span:nth-child(1){
        width: 28%;
    }
    #play-song div:first-child{
        width:45%;
    }
}
@media screen and (max-width:600px){/*when screen width is<=600px*/
    :root{
        font-size: 15px;
    }
    #search{
        width:70%;
        left:0.5px;
    }
    #search input{
        width:40%;
        font-size: 0.7rem;
    }
    #search button{
        width:20%;
        font-size: 0.7rem;
    }
    #playlist:target{
        width:60vw;
    }
    .latest-release-song{
        width:80%;
    }
    #stations{
        width:42%;
    }
    #station-text{
        font-size: 0px;
    }
    #left-img,#right-img{
        display: none;
    }
    #middle-img img{
        width:65vw;
        border-radius: 0;
    }
    #music-ocassion>span{
        width:70%;
        margin-block-end:5%;
    }
    #more{
        width:20vw;
    }
    footer i{
        font-size:1rem;
    }
    footer>span:nth-child(1){
        width:35%;
    }
    footer img{
        width: 28%;
    }
    footer>span:nth-child(2){
        width:50%;
    }
    footer>span:nth-child(3){
        width:10%;
    }
    #play-song div:nth-child(2){
        font-size: 0.8rem;
    }
    #bars{/*bars icon from footer disappears*/
        display: none;
    }
    #vol-up{/*vol-up icon from footer disapppears*/
        display: none;
    }
    #vol-slider{/*the slider for volume up from footer will disappear*/
       display: none;
    }
}
@media screen and (max-width:500px){/*when screen width is<=500px*/
    footer>span:nth-child(1) i{/*the heart icon and stop icon from footer will disappear*/
          display: none;
    }
    footer img{
        width:36%;
    }
}
@media screen and (min-width:400px){
    .language-content>span{
        min-width:100px;
    }
}
@media screen and (max-width:400px){/*/*when screen width is<=400px*/
    :root{
        font-size: 13px;
    }
    #stations{
        width:48%;
    }
    #music-ocassion>span{
        width:90%;
    }
    #more{
        width:25vw;
    }
}